.Home {
    background-image: url("../assets/huskymainpage.png");
    background-size: cover;
}


.Lastpage {
    background-image: url("../assets/maincoon.png");
    background-repeat: no-repeat;
  background-size: cover;
    
}
.end-headtext{
    text-align: center;
    padding: 50px;
}
.end-text{
    text-align: center;
    padding: 30%;
}
.counter button{
    background-color: black;
    color: red;
}